# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js / Build
.next/
out/
build/
dist/

# OS / Misc
.DS_Store
Thumbs.db
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
